body {
    position: relative;
}

header {
    background-color: lightslategrey;
}

section {
    background-color: lightgrey;
}

article {
    background-color: lightslategray;
}

aside {
    background-color: whitesmoke;
    max-width: 500px;
}

div {
    background-color: lightsteelblue;
    max-width: 10%;
}

.colorbox {
    /* padding: 5px; */
    /* margin: 50px; */
    /* display: block; */
    max-width: 20%;
}


.boxy.square {
    border: 10px solid black;
    border-radius: 20px;
    position: relative;
}

ul {
    list-style-type: none;  /*removes the bullets from the list*/
    margin: 150;  /* removes default margin*/
    padding: 160; /* removes default padding*/
}
li {
    display: inline;  
    /* makes the list items sit next to each other */
    /* float: left; */
}

li a {
    display: block; 
    padding: 120px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #aaa;
}